<div ng-if="!create">
    <h1>Missions</h1>

    <table class="table">
        <thead>
        <tr>
            <th>mission id</th>
            <th>name</th>
            <th>is active</th>
            <th>astronauts</th>
            <th>spacecrafts</th>
            <th>destination</th>
            <th>eta</th>
            <th>description</th>
            <th>end date</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="mission in missions track by $index">
            <td>{{mission.id}}</td>
            <td>{{mission.name}}</td>
            <td>{{mission.active ? 'Yes' : 'No'}}</td>
            <td>{{}}</td>
            <td>{{}}</td>
            <td>{{mission.destination}}</td>
            <td>{{mission.eta}}</td>
            <td>{{mission.missionDescription}}</td>
            <td>{{mission.endDate}}</td>
            <td>
                <button class="btn btn-primary" ng-click="editMission(mission.id)"><span
                        class="glyphicon glyphicon-edit"></span>
                </button>
            </td>
        </tr>
        </tbody>
    </table>
    <button class="btn btn-primary" ng-click="createNewMission()"><span class="glyphicon glyphicon-plus"></span>
    </button>
</div>





<div ng-if="create || edit">
    <h1>Edit mission</h1>
    <form name="form" novalidate class="form-horizontal">
        <!--TODO validations, limit max input characters...-->

        <!--@NotNull-->
        <!--@Size(min = 3, max = 50)-->
        <!--private String name;-->
        <div class="form-group" ng-class="{'has-error': !(form.name.$valid)}">
            <label for="name" class="col-sm-2 control-label">Name</label>
            <div class="col-sm-10">
                <input placeholder="name" id="name" type="text" ng-minlength="3" name="name" class="form-control" ng-model="editedMission.name" required/>
                <p class="help-block" ng-show="form.name.$error.required">required</p>
                <p class="help-block" ng-show="form.name.$error.minlength">must be at least 3 characters</p>
            </div>
        </div>

        <!--@NotNull-->
        <!--@Size(min = 3, max = 255)-->
        <!--private String destination;-->
        <div class="form-group" ng-class="{'has-error': !(form.destination.$valid)}">
            <label for="destination" class="col-sm-2 control-label">Destination</label>
            <div class="col-sm-10">
                <input placeholder="destination" id="destination" type="text" name="name" class="form-control" ng-model="editedMission.destination"/>
                <p class="help-block" ng-show="form.destination.$error.required">required</p>
                <p class="help-block" ng-show="form.destination.$error.minlength">must be at least 3 characters</p>
            </div>
        </div>

        <!--@NotNull-->
        <!--@Size(min = 3, max = 255)-->
        <!--private String missionDescription;-->
        <div class="form-group" ng-class="{'has-error': !(form.missionDescription.$valid)}">
            <label for="missionDescription" class="col-sm-2 control-label">Description</label>
            <div class="col-sm-10">
                <input placeholder="mission missionDescription" id="missionDescription" type="text" name="name" class="form-control" ng-model="editedMission.missionDescription"/>
                <p class="help-block" ng-show="form.missionDescription.$error.required">required</p>
                <p class="help-block" ng-show="form.missionDescription.$error.minlength">must be at least 3 characters</p>
            </div>
        </div>

        <!--@NotNull-->
        <!--@Future-->
        <!--@JsonDeserialize(using = ZonedDateTimeDeserializer.class)-->
        <!--@JsonSerialize(using = ZonedDateTimeSerializer.class)-->
        <!--private ZonedDateTime eta;-->
        <div class="form-group">
            <label for="eta" class="col-sm-2 control-label">ETA</label>
            <div class="col-sm-10">
                <input id="eta" type="date" name="eta" class="form-control" ng-model="editedMission.eta" required/>
                <!--<p class="help-block" ng-show="form.eta.$error.date">is not date</p>-->
            </div>
        </div>

        <!--@NotNull-->
        <!--private Set<UserDTO> astronauts = new HashSet<>();-->
        <!--TODO input select astronauts-->
        <div class="form-group">
            <label for="astronauts" class="col-sm-2 control-label">Astronauts</label>
            <div class="col-sm-10">
                <select id="astronauts" ng-model="selectedAstronauts" multiple>
                    <option ng-repeat="astronaut in astronauts" value="{{astronaut}}">{{astronaut.name}}</option>
                </select>
            </div>
        </div>

        <!--@Size(min = 1)-->
        <!--@NotNull-->
        <!--private Set<SpacecraftDTO> spacecrafts = new HashSet<>();-->
        <!--TODO input select spacecrafts-->
        <div class="form-group">
            <label for="spacecrafts" class="col-sm-2 control-label">Spacecrafts</label>
            <div class="col-sm-10">
                <select id="spacecrafts" ng-model="selectedSpacecrafts" multiple ng-options="mission for mission in missions">
                </select>
            </div>
        </div>

        <!-- show disabled button if form is not valid -->
        <button ng-if="edit" ng-disabled="!form.$valid" class="btn btn-primary" type="button" ng-click="submitEdit()">Submit mission
        </button>
        <button ng-if="create" ng-disabled="!form.$valid" class="btn btn-primary" type="button" ng-click="submitCreate()">Create mission
        </button>
        <button class="btn btn-danger" type="button" ng-click="cancelEdit()">Cancel
        </button>
    </form>
</div>
