<div ng-if="!create">
    <h1>Missions</h1>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>Mission ID</th>
            <th>Name</th>
            <th>Active</th>
            <th>Astronauts</th>
            <th>Spacecrafts</th>
            <th>Destination</th>
            <th>ETA</th>
            <th>Description</th>
            <th>End Date</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="mission in missions track by $index">
            <td>{{mission.id}}</td>
            <td>{{mission.name}}</td>
            <td>{{mission.active ? 'Yes' : 'No'}}</td>
            <td>
                <div ng-repeat="a in mission.astronauts track by $index">
                    {{a.name}}
                </div>
            </td>
            <td>
                <div ng-repeat="s in mission.spacecrafts track by $index">
                    {{s.name}}
                </div>
            </td>
            <td>{{mission.destination}}</td>
            <td>{{mission.eta}}</td>
            <td>{{mission.missionDescription}}</td>
            <td>{{mission.endDate ? mission.readyDate : "UNKNOWN"}}</td>
            <td>
                <button class="btn btn-primary" ng-click="editMission(mission.id)">
                    <span class="glyphicon glyphicon-edit"></span>
                </button>
            </td>
            <td>
                <button ng-click="deleteMission(mission.id)" class="btn btn-danger"><span
                        class="glyphicon glyphicon-remove"></span></button>
            </td>
        </tr>
        </tbody>
    </table>
    <button class="btn btn-primary" ng-click="createNewMission()"><span class="glyphicon glyphicon-plus"></span>
    </button>
</div>





<div ng-if="create || edit">
    <h1>{{create ? 'Create' : 'Edit'}} mission {{editedMission.name}}</h1>
    <form name="form" novalidate class="form-horizontal">

        <div class="form-group" ng-class="{'has-error': !(form.name.$valid)}">
            <label for="name" class="col-sm-2 control-label">Name</label>
            <div class="col-sm-10">
                <input placeholder="name" id="name" type="text" name="name" class="form-control" ng-model="editedMission.name" required minlength="3" maxlength="50"/>
                <p class="help-block" ng-show="form.name.$error.required">required</p>
                <p class="help-block" ng-show="form.name.$error.minlength">must be at least 3 characters</p>
            </div>
        </div>

        <div class="form-group" ng-class="{'has-error': !(form.destination.$valid)}">
            <label for="destination" class="col-sm-2 control-label">Destination</label>
            <div class="col-sm-10">
                <input placeholder="destination" id="destination" type="text" name="destination" class="form-control" ng-model="editedMission.destination" required minlength="3" maxlength="255"/>
                <p class="help-block" ng-show="form.destination.$error.required">required</p>
                <p class="help-block" ng-show="form.destination.$error.minlength">must be at least 3 characters</p>
            </div>
        </div>

        <div class="form-group" ng-class="{'has-error': !(form.missionDescription.$valid)}">
            <label for="missionDescription" class="col-sm-2 control-label">Description</label>
            <div class="col-sm-10">
                <input placeholder="mission description" id="missionDescription" type="text" name="missionDescription" class="form-control" ng-model="editedMission.missionDescription" required minlength="3" maxlength="255"/>
                <p class="help-block" ng-show="form.missionDescription.$error.required">required</p>
                <p class="help-block" ng-show="form.missionDescription.$error.minlength">must be at least 3 characters</p>
            </div>
        </div>

        <div class="form-group" ng-class="{'has-error': !(form.eta.$valid)}">
            <label for="eta" class="col-sm-2 control-label">ETA</label>
            <div class="col-sm-10">
                <input id="eta" name="eta" min="{{date}}" type="datetime-local" class="form-control" ng-model="editedMission.eta" required/>
                <p class="help-block" ng-show="form.eta.$error.required">required</p>
            </div>
        </div>

        <div class="form-group">
            <label for="astronauts" class="col-sm-2 control-label">Astronauts</label>
            <div class="col-sm-10">
                <select multiple id="astronauts" name="astronauts" class="form-control"
                        ng-min=1 ng-model="editedMission.astronauts"
                        ng-options="astronaut.name for astronaut in selectedAstronauts">
                    <option ng-repeat="astronaut in selectedAstronauts" value="{{astronaut}}">{{astronaut.name}}</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label for="spacecrafts" class="col-sm-2 control-label">Spacecrafts</label>
            <div class="col-sm-10">
                <select multiple id="spacecrafts" name="spacecrafts" class="form-control"
                        ng-min=1 ng-model="editedMission.spacecrafts"
                        ng-options="spacecraft.name for spacecraft in selectedSpacecrafts"
                        required="editedMission.spacecrafts > 0">
                    <option ng-repeat="spacecraft in selectedSpacecrafts" value="{{spacecraft}}">{{spacecraft}}</option>
                </select>
                <p class="help-block" ng-show="form.spacecrafts.$error.required">At least 1 spacecraft has to be selected</p>
            </div>
        </div>

        <button ng-if="edit" ng-disabled="!form.$valid" class="btn btn-primary" type="button" ng-click="submitEdit()">Submit mission
        </button>
        <button ng-if="create" ng-disabled="!form.$valid" class="btn btn-primary" type="button" ng-click="submitCreate()">Create mission
        </button>
        <button class="btn btn-danger" type="button" ng-click="cancelEdit()">Cancel
        </button>
    </form>
</div>
